body{ 
position:relative;
height:100vh


}


.un{
color:red;
left:50%;
top:30%;
position:absolute;
  font-size: 90px;
    transform: translateX(-50%);
}



.deux{
color:red;
left:50%;
top:50%;
position:absolute;
  font-size: 90px;
    transform: translateX(-50%);
}



.trois{
color:red;
left:50%;
top:70%;
position:absolute;
  font-size: 90px;
    transform: translateX(-50%);
}


.son{
position:absolute;
 top: 10%;
  left: 50%;
    transform: translateX(-50%);
}



h1
{
color:purple;
}
