.intro {
 
  margin-left: 1%;
  margin-top: 8.75%;
  font-size: 16px;
  line-height: 1.5;
}


html, body {
  
   margin: 0;
  height: 100%;
  overflow: hidden;
  
}

p, ul
{
	color : black;
	text-align:left;
	
	}
p
{
	line-height:150%
	}

li
{
	line-height:150%
	}
	
h1
{
	position:absolute;
	color : black;
	text-align : center;
	top:10%;
	left:50%;
	transform:translate(-50%);
}
	
h2
{	
	font-style : italic;
	position:absolute;
	color : black;
	text-align : center;
	top:20%;
	left:50%;
	transform:translate(-50%);
}

strong
{
	color : blue;
	
	}





.marge {
margin-left: 5em;
}

#menu, #menu ul /* Liste */     
{  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

        padding : 0; /* pas de marge intérieure */
        margin : 0; /* ni extérieure */
        list-style : none; /* on supprime le style par défaut de la liste */
        line-height : 21px; /* on définit une hauteur pour chaque élément */
        text-align : center; /* on centre le texte qui se trouve dans la liste */
}

#menu /* Ensemble du menu */
{
          position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #1c450a;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    z-index: 1000;
        
}

#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge intérieure */
        background : #1c450a; /* couleur de fond */        
        color : #fff; /* couleur du texte */
        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
        width : 1823px; /* largeur */
         height: 40px;
  line-height: 40px;
         
      
}

#menu li /* Elements des listes */      
{ 
         position: relative;
        float : left; 
        /* pour IE qui ne reconnaît pas "transparent" */
        border-right : 1px solid #fff; /* on met une bordure blanche à droite de chaque élément */
          
         
}

/* IE ne reconnaissant pas le sélecteur ">" */


#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 288px; /* Largeur des sous-listes */
        display:none;
        top: 40px;
        left:0;
      
}


#menu li ul li /* Éléments de sous-listes */
{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}

/* IE ne reconnaissant pas le sélecteur ">" */

#menu li ul ul 
{
        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 1px solid #fff ; /* Petite bordure à gauche pour ne pas coller ... */   
        
}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}

#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}


#menu li:hover > ul
{
display:block;
    left: 0;
}



   





body {
  background: url("samuel.jpg") center center / cover no-repeat fixed;/*center center : position horizontale et verticale; cover : image remplit tt l'écran, garde ses proportions, peut être coupée sur les bords; no repeat : empêche que l'image se répète en mosaîque ; fixed : empêche que nla page scroll et que du contenu glisse sur d'autres trucs*/
  position:relative;
}



.page {
   position: relative;
 
   height: 100vh;   /* plein écran */
}



.photo {
  width: 100%;
  height: 100vh;
    object-fit: cover;   
}



/* Zones cliquables */
.zone {
 position: absolute;
  z-index: 2;
}




/*  zone 1 oeil gauche */
.zone1 {
  top: 42%;
  left: 48%;
  width: 3%;
  height: 4%;
}




/* zone 2 oeil droit */
.zone2 {
  top: 42%;
  left: 60.5%;
  width: 3%;
  height: 4%;
}




/* zone 3 nez */
.zone3 {
  top: 50%;
  left: 52.5%;
  width: 6%;
  height: 7%;
}




.image_de {
  position: absolute;
  top: 30%;  
  left: 5%; 
  width : 200px;
  z-index: 2000;
}




.image_des {

  position: absolute;
  top: 50%;  
  left: 72%; 
  width : 200px;
}





.image_dess {

  position: absolute;
  top: 90%;  
  left: 25%; 
  width : 200px;
}






.noir {
   position: absolute;
  top: 80%;
  left: 50%;
   width: 150px;
}





.son {
position:absolute;
top:94%;
left:45.5%;
}




.texte1 {
text-align:center;
margin-top:20%;

}



.rouge{
color:red;
}
.blanc{
color:green;
}









H3 {
	position:absolute;
	color : black;
	text-align : center;
	top:30%;
	left:50%;
	transform:translate(-50%);
	
}




.ind {
position:absolute;
left:80%;
top:15%;
width:100px;
}

.texte_ind {
margin-left:65%;
margin-top:3%;
text-align:center;
font-size:12px;
color:blue;
}


.jaune {
color:yellow;
}
