body {
position:relative;
 height: 100vh;
  background: url("samuel.jpg") center center / cover no-repeat fixed;
}
/* prend tout l'écran*/

.immo {
position:absolute;
width:400px;
left:7%;
top:8%;
transform: rotate(-20deg);
}

.son {
position:absolute;
left:12%;
top:40%;
 display: block;
}



#mariahFixe {
  z-index: 2;
}

#mariahGif {
  z-index: 3;
}


/* pour savoir qui passera par dessus qui car les 2 images/gifs sont positionnées l'une sur l'autre*/
.cadeaux {
position:absolute;
left:80%;
top:8%;
width:250px;
transform: rotate(30deg);
}



.papa {
position:absolute;
left:70%;
top:70%;
width:250px;
transform: rotate(-20deg);
}



.papa_sam {
position:absolute;
left:7%;
top:55%;
width:300px;
transform: rotate(30deg);
}



.texte {
position:absolute;
color:red;
text-align:center;
top:31%;
left:69%;
 display: inline-block; /* ne prend que la largeur du texte*/
  padding: 15px 20px; /* espace entre le texte et le bord de la bulle*/
  background: white;
  border-radius: 20px; /* arrondit les coins */
  border: 2px solid black; /* contour de la bulle*/
  font-weight: bold;

}



h1 /*centré*/{
position:absolute;
left:50%;
transform:translate(-50%);
color:green;
top:-2%;

}


.fleche /* trait de la flèche*/{
  position: absolute;
  top: 80%;
  left: 24%;
  width: 140px;
  height: 4px;
  background: black;
}

.fleche::after/*triangle de la flèche par transparence*/ {
  content: "";
  position: absolute;
  right: -10px;
  top: -6px;
  border-left: 12px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}



.explications {
position:absolute;
top:76%;
left:34%;
text-align:center;
display: inline-block; /* ne prend que la largeur du texte*/
  padding: 5px 15px; /* espace entre le texte et le bord de la bulle*/
  background: white;
  border-radius: 20px; /* arrondit les coins */
  border: 2px solid black; /* contour de la bulle*/
  font-weight: bold;
  color:red;
}



.accueil {
position:absolute;
left:85%;
margin-top:51%;
  background-color:red;
  padding: 10px;
    border: 3px solid red;
}
