body {
min-height: 100vh;
  margin: 0;
  background-image:
    url("cromagnon.jpeg"),
    url("cromagnon.jpeg");

  background-repeat: space no-repeat, space no-repeat;



  background-position:
    center 7%,
    center 90%;

  

  color: red;
 
}


 h1 {
 position:absolute;
 top :40%;
 text-align:center;
 }
 
 
 h1.bulle {
  display: inline-block; /* ne prend que la largeur du texte*/
  padding: 15px 20px; /* espace entre le texte et le bord de la bulle*/
  background: black;
  border-radius: 80px; /* arrondit les coins */
  border: 2px solid black; /* contour de la bulle*/
}
 
