body {
  background: url("nathan.jpg") center center / cover no-repeat fixed;
position:relative
}

/* comme le css de test*/


.redirection{
position:absolute;
text-align:center;
margin-top:40%;
color:white;
}

/* couleur blanche du texte*/






.zone {
 position: absolute;
  z-index: 2;
}
/* z index pour que ce soit cliquable*/






.interro{
position:absolute;
left:42%;
margin-top:40%;
width:150px;
}






.cal {
position:absolute;
left:80%;
top:25%;
width:300px;
}




.tout_en_haut {
position:absolute;
left:8%;
top:5%;
width:220px;
}



.nv {
position:absolute;
left:8%;
top:5%;
width:150px;
}


.sens_un {
position:absolute;
margin-top:12%;
font-size:25px;
}
/* font size pour modifier la taille de police d'écriture*/



.sens_deux {
position:absolute;
margin-top:30%;
font-size:25px;
}
